@{
    ViewBag.Title = "Giới thiệu";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="mb-4">@ViewBag.Title</h1>

        <div class="card mb-4">
            <div class="card-body">
                <h3>Về Shop Đồng Hồ</h3>
                <p class="lead">
                    Chào mừng bạn đến với Shop Đồng Hồ - địa chỉ tin cậy cho những tín đồ yêu thích đồng hồ chính hãng.
                </p>
                <p>
                    Với nhiều năm kinh nghiệm trong lĩnh vực kinh doanh đồng hồ, chúng tôi tự hào là một trong những
                    đơn vị hàng đầu cung cấp các sản phẩm đồng hồ chính hãng, đa dạng mẫu mã từ các thương hiệu
                    nổi tiếng trên thế giới.
                </p>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h4><i class="bi bi-bullseye"></i> Sứ mệnh</h4>
                        <p>
                            Mang đến cho khách hàng những sản phẩm đồng hồ chất lượng cao với giá cả hợp lý nhất,
                            cùng dịch vụ chăm sóc khách hàng tận tâm và chuyên nghiệp.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <h4><i class="bi bi-eye"></i> Tầm nhìn</h4>
                        <p>
                            Trở thành chuỗi cửa hàng đồng hồ uy tín và được yêu thích nhất tại Việt Nam,
                            luôn đặt sự hài lòng của khách hàng lên hàng đầu.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4>Cam kết của chúng tôi</h4>
                <ul>
                    <li>100% sản phẩm chính hãng, có nguồn gốc xuất xứ rõ ràng</li>
                    <li>Bảo hành chính hãng theo quy định của nhà sản xuất</li>
                    <li>Đội ngũ nhân viên tư vấn nhiệt tình, am hiểu sản phẩm</li>
                    <li>Chính sách đổi trả linh hoạt trong 7 ngày</li>
                    <li>Giao hàng nhanh chóng trên toàn quốc</li>
                    <li>Giá cả cạnh tranh, nhiều chương trình ưu đãi hấp dẫn</li>
                </ul>
            </div>
        </div>
    </div>
</div>